@page "/"
@using Ahlzen.SysexSharp.SysexLib

<h1>SysexSharp</h1>

<fieldset class="layoutbox">
    <legend>Library</legend>
    <ul>
        @foreach (Sysex sysex in _sysexes)
        {
            <li class="sysexItem">
                <div class="title">@(sysex.Name ?? "unknown")</div>
                <div class="details">
                    <span class="length">@sysex.Length bytes</span>
                    @if (sysex.ManufacturerName != null)
                    {
                        <span class="manufacturer">@sysex.ManufacturerName</span>
                    }
                    @if (sysex.Device != null)
                    {
                        <span class="device">@sysex.Device</span>
                    }
                    @if (sysex.Type != null)
                    {
                        <span class="type">@sysex.Type</span>
                    }
                </div>
            </li>
        }
    </ul>
    
    <h3>Add files here:</h3>
    <InputFile OnChange="@LoadFiles" />
    
</fieldset>

<fieldset class="layoutbox">
    <h3>Log</h3>
    <p style="white-space: pre-line;">@_log</p>
</fieldset>